h1, h2, h3, h4, h5, h6 {
	margin: 0;

}

h1 {
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	margin-bottom: 16px;
}

h2 {
	line-height: 36px;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 16px;
}

h3 {
	line-height: 36px;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 16px;
}

h4 {
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 12px;
}

h5 {
	line-height: 24px;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 12px;
}

h6 {
	line-height: 20px;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 12px;
}

p {
	margin: 0;
	margin-bottom: 20px;
}

pre, code{
	color: #000;
	font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px; /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
	background-color: $color-grey-200;
	span {
		font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 14px;
	}
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 12px;

	code {
		border: 0px !important;
		background: transparent !important;
		line-height: 1.3em;
	}
}

code {
	padding: 0 8px 0 8px;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-bottom: 1px solid $color-grey-300;
	margin: 1em 0;
	padding: 0;
}

blockquote{
	color:#666666;
	margin:0;
	padding-left: 12px;
	padding-right: 12px;
	background: $color-grey-100;
	padding-top: 24px;
	padding-bottom: 4px;
	border-left: 4px $color-grey-300 solid;
	margin-bottom: 16px;
	p {
		font-style: italic;
	}
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

li p:last-child {
	margin:0
}

dd {
	margin: 0 0 0 2em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

a{
	color: $color-blue-700;
	text-decoration:none;
	outline: 0;
	&:visited {
		color: $color-blue-700;
	}

	&:hover {
		text-decoration: underline;
	}
}

.font-display1 {
	@include ty-display1;
}

.font-display2 {
	@include ty-display2;
}

.font-display3 {
	@include ty-display3;
}

.font-display4 {
	@include ty-display4;
}

.font-headline {
	@include ty-headline;
}

.font-title {
	@include ty-title;
}
.font-subhead {
	@include ty-subhead;
}

.font-body {
	@include ty-body;
}

.font-body2 {
	@include ty-body2;
}

.font-ultra-bold {
	font-weight: 900;
}

.font-bold {
	font-weight: 700;
}

.font-medium {
	font-weight: 500;
}

.font-normal {
	font-weight: 400;
}

.font-light {
	font-weight: 300;
}

.font-thin {
	font-weight: 100;
}

.font-grey {
	color: $color-grey;
}

.font-grey-700 {
	color: $color-grey-700;
}

.font-grey-200 {
	color: $color-grey-200;
}

.font-white {
	color: $color-white;
}
