.side-navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 80;
	visibility: hidden;
	top: 0;
	left: 0;
	
	&.front {
		z-index: 900;
	}

	.side-navigation-inner {
		width: 290px;
		max-width: 90%;
		height: 100%;
		@include box-shadow(0);
		background: $color-white;
		position: absolute;
		top: 0;
		left: 0;
		@include transform(translateX(-100%));
		@include transition(transform 0.35s $easeInOutExpo);

		& .nav-top {
			height: 56px;
			width: 100%;
			background: $color-grey-300;

			@include breakpoint("xd") {
				height: 64px;
			}
		}

		& .nav-content {
			height: calc(100% -56px);
			width: 100%;
			overflow: auto;
			@include breakpoint("xd") {
				height: calc(100% - 64px);
			}

			.nav-menu {
				padding-top: 8px;
				.nav-list {
					width: 100%;
					height: 48px;
					display: block;
					position: relative;
					padding: 8px 12px;
					padding-left: 56px;
					@include ty-menu;
					line-height: 32px;
					text-decoration: none;
					color: $color-grey-600;
					@include transition(background 0.3s ease-in-out);
					&:hover {
						background: $color-grey-200;
					}

					.icon {
						position: absolute;
						top: 12px;
						left: 12px;

						svg {
							fill: $color-grey;
						}
					}

					&.active {
						color: $color-blue-500;

						&:hover {
							background: $color-blue-100;
						}

						.icon {
							svg {
								fill: $color-blue-400;
							}
						}
					}
				}


			}
		}
	}

	.side-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-black;
		opacity: 0;
		@include transition(opacity 0.5s $easeInOutExpo);
	}

	&.active {
		.side-navigation-inner {
			@include transform(translateX(0));
			@include box-shadow-z1;

		}

		.side-overlay {
			opacity: 0.5;
		}
	}
}