.m-8 {
	margin: 8px !important;
}

.m-t-8 {
	margin-top: 8px !important;
}

.m-l-8 {
	margin-left: 8px !important;
}

.m-r-8 {
	margin-right: 8px !important;
}

.m-b-8 {
	margin-bottom: 8px !important;
}